################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/Programowanie_Jakub_Barszcz_w69762/FileContentIndex/669988cb-0c15-439f-bc65-6da72cb9318b.vsidx
