aside{
    float:right;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}
h1 {
    font-size: 50px;
}
h4 {
    font-size: 30px;
}
header{
    position:relative;
    width:100%;
    background-color: lightgray;
    top:0;
    left:0;
    display:flex;
    align-items:center;
    box-shadow: 5px 10px 2px #aaa;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 100;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}
a.glowna {
    color: green;
}
a{
    text-decoration: none;
}
article, section{
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 120px;
    padding-right: 120px;
    font-size: 20px;
}
article {
    position: relative;
    display: fixed;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 150px 120px;
}
.article-element{
    width: 50%;
}
footer{
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: lightgray;

}